@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #050505;
  /* Use same color as Three.js bg to avoid flickering */
  color: white;
  font-family: 'Inter', sans-serif;
}